@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.apresentacaoCurriculoTitulo {
    font-size: 1.37rem;
    font-family: 'Krona One', sans-serif;
    margin-bottom: 0px;
}

.apresentacaoCurriculoCursoExperiencia {
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
}

.formacaoExperienciaCurriculo {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.apresentacaoDataFormacaoExp {
    font-size: 1.12rem;
    font-family: 'Montserrat', sans-serif;
}

.solid {
    border-top: 3px solid var(--corSecundaria);
}

.dotted {
    border-top: 3px dotted var(--corSecundaria);
    border-bottom: 0;
}